@import url("https://use.typekit.net/rvw7fnr.css");

.Btn {
  border: none;
  outline: none;
  background-color: #05c7f2;
  height: 25px;
  width: 75px;
  border-radius: 20px;
  margin: 10px 0;
  font-family: "interstate", "san-serif";
  color: #1c1919;
  cursor: pointer;

  &:hover {
    background-color: #1c1919;
    color: #fff;
  }
  &:active {
    background-color: #2de398;
    color: #1c1919;
  }
}

.likeBtn {
  border: none;
  outline: none;
  background-color: #fff;
}

.X {
  float: right;
  margin-left: 10px;
  z-index: 1;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    color: #05c7f2;
  }
  &:active {
    color: #2de398;
  }
}

.recentCafeBtn {
  border: none;
  outline: none;
  height: 20px;
  color: #05c7f2;
  background-color: #fff;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    color: #000;
  }
  &:active {
    color: #2de398;
  }
}
