.modal {
  width: 90%;
  margin: 40px 40px;
  height: 280px;
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  z-index: 2;
}

@media screen and (max-width: 1120px) {
  .modal {
    grid-column: 2 / span 1;
    width: 320px;
    margin-left: 480px;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    grid-column: 2 / span 1;
    width: 320px;
    margin-left: 80px;
  }
}
