header {
  grid-row: 1 / span 1;
  grid-column: 1 / end 6;
  background-color: #1c1919;

  .logo {
    margin: 20px 0px 20px 160px;
    width: 43px;
    height: 40px;
  }

  .signIn {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin-right: 20px;
  }

  .signInBtn {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: "interstate", "san-serif";
    cursor: pointer;
    span {
      margin-left: 10px;
    }
  }
}

.Btns {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  .signIn {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin-right: 20px;
  }

  .signInBtn {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: "interstate", "san-serif";
    cursor: pointer;
    span {
      margin-left: 10px;
    }
  }

  .addRequestBtn {
    border: none;
    outline: none;
    background-color: #1c1919;

    .icon {
      color: #fff;

      &:hover {
        color: #05c7f2;
      }
      &:active {
        color: #2de398;
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  header {
    grid-column: 1 / span 3;
    .logo {
      margin-left: 40px;
    }
  }
  .Btns {
    grid-column: 2 / span 1;
    z-index: 1;
    justify-content: flex-end;
    margin-right: 40px;
  }
}

@media screen and (max-width: 800px) {
  .Btns {
    grid-column: 3 / span 1;
  }
}

@media screen and (max-width: 500px) {
  header {
    grid-row: 1 / span 2;
    .logo {
      margin-top: 10px;
      margin-left: 80px;
    }
  }
  .Btns {
    grid-column: 2 / span 1;
    margin-left: 60px;
    justify-content: flex-end;
  }
}
