@import url("https://use.typekit.net/rvw7fnr.css");

.profile-info {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  margin: 40px 40px;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  font-family: "interstate", "san-serif";
  z-index: 0;

  h4 {
    padding: 0 10px;
    text-align: center;
  }

  a {
    color: #1c1919;

    &:hover {
      color: #1c1919;
      font-weight: 700;
    }
    &:visited {
      color: #1c1919;
    }
  }

  .profile-img {
    margin: 4px auto;
    width: 100px;
    border-radius: 50px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 1120px) {
  .profile-info {
    display: none;
  }
}
